body {
	background-color: #FFFFFF;
	background-image: url("brushes.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 100% 100%;  
	color: gray;
	font-family: helvetica, sans-serif;
	align-items: center;
	text-align: center;
}
/* Navigation bar */
nav {
	text-decoration: none;
	color: gray;
	position: 50%;
}

/* Make the limks look cool */
a:link {
	color: gray;
	text-decoration: none;
	}
a:visited {
	color: gray;
	text-decoration: none;
	}
a:hover {
	color: white;
	text-decoration: none;
	}

#header {
	background-color: #D4C2C4;
	background-image: url("linen.png");
	background-repeat: repeat-x;
	background-blend-mode: soft-light;
	color: gray;
	text-align: right;
	float: none;
	width: 100%;
    padding: 25px 100px 25px 5px;
    margin: 5px 25px 25px 5px;
	border-color: 20px gray;
	opacity: .6;
}

.logo {
	width: 35%;
	height: 5%;
}

/* style for the form fields */
input[type=text], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 30%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #F9F2F6;
    resize: none;
}


input[type=submit] {
    width: 30%;
    background-color: gray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #D4C2C4;
    color: gray;
}
/* Resize header bar and logo when viewing from mobile device */
@media only screen and (max-width: 481px) {
	#header {
		width: 100%;
		padding: 2% 4% 1% 1%;
		margin: 1% 5% 5% 1%;
	}
}
@media only screen and (max-width: 481px) {
	.logo {
  		width: 100%;
  		padding: 1px 1px 1px 1px;
  		margin: 1% 1% 1% 1%;
  }
}
@media only screen and (max-width: 481px) {
	body {
  		background-image: url(brushes.jpg);
		background-position: 100% 100%;
		background-size: 100%
  }
}
/* optimize fields for mobile view */
@media only screen and (max-width: 481px) {
	#contactform {
		width: 75%;
		padding: 2% 2% 2% 2%;
		margin: 1% 1% 1% 1%;
	}
}

@media only screen and (max-width: 481px) {
	input[type=text], select {
		width: 100%;
		padding: 2% 2% 2% 2%;
		margin: 1% 1% 1% 1%;
	}
}

@media only screen and (max-width: 481px) {
	input[type=email], select {
		width: 100%;
		padding: 2% 2% 2% 2%;
		margin: 1% 1% 1% 1%;
	}
}

@media only screen and (max-width: 481px) {
	textarea {
		width: 100%;
		padding: 2% 2% 2% 2%;
		margin: 1% 1% 1% 1%;
	}
}

@media only screen and (max-width: 481px) {
	input[type=submit], select {
		width: 40%;
		padding: 2% 2% 2% 2%;
		margin: 1% 1% 1% 1%;
	}
}