body {
	background-color: #FFFFFF;
	background-image: url("../images/brushes.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 100% 100%;  
	color: gray;
	font-family: helvetica, sans-serif;
}

/* Navigation bar */
nav {
	text-decoration: none;
	color: gray;
	position: 50%;
	font-size: 110%;
}

/* Make the limks look cool */
a:link {
	color: gray;
	text-decoration: none;
	}
a:visited {
	color: gray;
	text-decoration: none;
	}
a:hover {
	color: white;
	text-decoration: none;
	}

#header {
	background-color: #D4C2C4;
	background-image: url("../images/linen.png");
	background-blend-mode: soft-light;
	color: gray;
	text-align: right;
	float: none;
	width: 100%;
    padding: 25px 25px 25px 5px;
    margin: 5px 25px 25px 5px;
	border-color: 20px white;
	border-radius: 0%;
	opacity: .6;
}

.logo {
	width: 35%;
	height: 5%;
}

.bio {
	background-image: url("../images/linen.png");
	background-color: #D4C2C4;
	background-blend-mode: soft-light;
	background-repeat: repeat;
	color: #666666;
	float: none;
	text-align: left;
	width: 65%;
	opacity: .85;
	padding: 50px 50px 50px 50px;
	margin: 60px 60px 60px 06px;
}

p {
	/*background-color: white;*/
	padding: 10px 10px 10px 10px;
	margin: 15px 15px 15px 15px;
}

.biopic {
	float: left;
	width: 30%;
	padding: 10px 20px 20px 20px;
    margin: 25px 25px 25px 25px;
	border-radius: 10%;
	opacity: 1;
}


/* Resize header bar and logo when viewing from mobile device */
@media only screen and (max-width: 481px) {
	#header {
		width: 100%;
		padding: 2% 4% 1% 1%;
		margin: 1% 5% 5% 1%;
	}
}
@media only screen and (max-width: 481px) {
	.logo {
  		width: 100%;
  		padding: 1px 1px 1px 1px;
  		margin: 1% 1% 1% 1%;
  }
}
@media only screen and (max-width: 481px) {
	body {
  		background-image: url(../images/brushes.jpg);
		background-position: 100% 100%;
		background-size: 100%;
  }
}
@media only screen and (max-width: 481px) {
	#bio {
  		width: 100%;
  		padding: 1px 1px 1px 1px;
  		margin: 1% 1% 1% 1%;
  }
}
@media only screen and (max-width: 481px) {
	.biopic {
  		width: 60%;
  		padding: 1px 1px 1px 1px;
  		margin: 1% 1% 1% 1%;
  }
}
